.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 300px;
  border: orange dashed 1px;
  padding: 10px;
  border-radius: 15px;
}

.title {
  text-align: center;
  font-weight: 400;
}
